/* styles/18-style.css */

/* Target the navbar-menu class and float it to the right */
.navbar-menu {
  float: right;
}

/* Target the nav class */
.nav {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none; /* Remove styling on list items */
}

/* Target the nav-item class within the nav class */
.nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  display: var(--nav-item-display);
  margin: var(--nav-item-margin);
}

/* Target the nav-link class within the nav class */
.nav-link {
  display: block;
  padding: calc(var(--root-element-font-size) / 2) var(--root-element-font-size);
  color: var(--text-color); /* Set default text color */
}

/* Hover effect on nav-link class within nav class */
.nav-link:hover {
  color: var(--nav-item-link-hover);
}

/* Define custom properties */
:root {
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: 4%;
  --nav-item-display: inline-block;
  --nav-item-margin: calc(3 * var(--root-element-font-size)) 0 0 0;
  --nav-item-link-hover: var(--color-primary);
}
